.nav{
     padding: 20px;
     background-color: rgb(237, 236, 234);
     display: flex;
     justify-content: space-around;
     align-items: center;
     position: sticky;
     top: 0;
}

h3{
     text-decoration: none !important;
    color: rgb(36, 36, 37);
}

h3:hover{
     color: rgb(167, 164, 164);
}

.active {
     background-color: #ddd;
     font-weight: bold;
     border-radius: 10px;
     width: fit-content;
     height: 27px;
   }